<footer id="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="widget">
                        <div class="widget-title">Clearnet Energie</div>
                        <h2>Nous contacter</h2>
                        <p class=""><span class="fa fa-phone-alt"></span> Téléphone : 01.77.37.07.93 </p>
                        <p class=""><span class="fa fa-mail-bulk"></span> Email : contact@clearnet-energie.fr </p>
                        <p class=""><span class="fa fa-store"></span> Horarire d'ouverture : 9h30 - 19h30 </p>
                    </div>
                    <div class="widget">
                        <div class="widget-title">Suivez nous !</div>
                        <ul class="list">
                            <li><a href="#" class="btn btn-facebook"><span class="fa fa-facebook"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="widget">
                                <div class="widget-title">Nos Prestations</div>
                                <ul class="list">
<li><a href="{{ path('isolationThermiqueInterieur') }}">Isolation thermique intérieur</a></li>
<li><a href="{{ path('isolationThermiqueExterieur') }}">Isolation thermique extérieur</a></li>
                                    <li><a href="{{ path('calorifugeage') }}">Calorifugeage</a></li>
                                    <li><a href="{{ path('matelasIsolant') }}">Matelas Isolants</a></li>
                                    <li><a href="{{ path('recuperateurChaleurGroupeFroid') }}">Récupérateur de chaleur</a></li>
                                    <li><a href="{{ path('economiseurDeau') }}">Economiseur d’eau</a></li>
                                    <li><a href="{{ path('ecoRegulateur') }}">Eco Régulateur</a></li>
                                    <li><a href="{{ path('organeDeChauffe') }}">Organe de chauffe</a></li>
                                    <li><a href="{{ path('pompeAChaleur') }}">Pompe à chaleur</a></li>
                                    <li><a href="{{ path('productionEauChaudeSanitaire') }}">Production d'eau chaude sanitaire</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83991.34725997681!2d2.307375508218901!3d48.86336638983036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66f174b93d64b%3A0x414d58bcbd922f82!2sCLEARNET!5e0!3m2!1sen!2sfr!4v1613703216372!5m2!1sen!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-content">
        <div class="container">
            <div class="copyright-text text-center">
                © Copyright {{ 'now' | date('Y') }} Clearnet - Made By <a href="https://cadarsir.fr"> Cadarsir </a>
            </div>
        </div>
    </div>
</footer>
