<header id="header" {% if notTransparent is defined %}{% else %}data-transparent="true" {% endif %} {% if fullwidth is defined %}data-fullwidth="true"{% else %}{% endif %}>
    <div class="header-inner">
        <div class="container">

            <div id="logo">
                <a href="{{ path('home') }}">
                    <span class="logo-default"><img src="{{ asset('images/logo.png') }}" alt="Clearnet"></span>
                    <span class="logo-responsive"><img src="{{ asset('images/logo-petit.png') }}" alt="Clearnet"></span>
                </a>
            </div>


            <div id="mainMenu-trigger">
                <a class="lines-button x"><span class="lines"></span></a>
            </div>


            <div id="mainMenu">
                <div class="container">
                    <nav>
                        <ul>

                            <li><a href="{{ path('home') }}">Accueil</a></li>
                            <li class="dropdown"><a href="{{ path('prestations') }}">Nos Prestations</a>
                                <ul class="dropdown-menu">
<li><a href="{{ path('isolationThermiqueInterieur') }}">Isolation thermique intérieur</a></li>
<li><a href="{{ path('isolationThermiqueExterieur') }}">Isolation thermique extérieur</a></li>
                                    <li><a href="{{ path('calorifugeage') }}">Calorifugeage</a></li>
                                    <li><a href="{{ path('matelasIsolant') }}">Matelas Isolants</a></li>
                                    <li><a href="{{ path('recuperateurChaleurGroupeFroid') }}">Récupérateur de chaleur</a></li>
                                    <li><a href="{{ path('economiseurDeau') }}">Economiseur d’eau</a></li>
                                    {# <li><a href="{{ path('ecoRegulateur') }}">Eco Régulateur</a></li>
                                    <li><a href="{{ path('organeDeChauffe') }}">Organe de chauffe</a></li> #}
                                    <li><a href="{{ path('pompeAChaleur') }}">Pompe à chaleur</a></li>
                                    <li><a href="{{ path('productionEauChaudeSanitaire') }}">Production d'eau chaude sanitaire</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ path('pro') }}">Professionel</a></li>
                            <li><a href="{{ path('particulier') }}">Particulier</a></li>
                            <li class="dropdown"><a href="#">A propos de nous</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('aboutUs') }}">Qui sommes nous ?</a></li>
                                    <li><a href="{{ path('organisation') }}">Notre organisation</a></li>
                                    <li><a href="{{ path('engagement') }}">Nos engagements</a></li>
                                    <li><a href="{{ path('zoneDintervention') }}">Carte Zone d'intervention</a></li>
                                    <li><a href="{{ path('ilsNousFontConfiance') }}">Ils nous font confiance</a></li>
                                </ul>
                            </li>
                            <li ><a href="{{ path('contact') }}">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</header>
