<div class="text-center text">

        <div class="h4 mb-4">Quelle est {{ title }} ? </div>
    <div>
        <div class="choice-row">
            <div class="form-group">
                <label for="{{ name }}">{{ help }}</label>
                <input class="text-center" type="number" name="{{ name }}" value="" id="{{ name }}">
            </div>
        </div>
    </div>
</div>